body {
    background-color: hsl(30, 54%, 90%);
    overflow-x: hidden;
}
.main-body {
    background-color: hsl(0, 0%, 100%);
    margin-top: 50px;
    width: 800px;
    margin-left: 300px;
    height: 1650px;
    border-radius: 15px;
}
.img {
    width: 700px;
    margin-top: 35px;
    border-radius: 20px;
}
.header {
    margin-left: 50px;
}
.h1 {
    font-weight: bold;
    font-size: 50px;
    color: hsl(24, 5%, 18%);
}
.header-p {
    font-size: 16px;
    font-weight: 540;
    width: 600px;
    color: rgba(151, 148, 146, 255);
}
.Preparation-time {
    margin-left: 50px;
    background-color: hsl(330, 100%, 98%);
    width: 700px;
    border-radius: 20px;
}
.Preparation-main {
    padding: 10px;
}
.Preparation-header {
    margin-left: 25px;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 16px;
}
.Preparation-list {
    margin-left: 20px;
    color: hsl(332, 51%, 32%);
}
.span1 {
    color: hsl(30, 10%, 34%);
    font-weight: bold;
}
.span2 {
    color: rgba(151, 148, 146, 255);
    font-weight: bold;
}
li + li {
    margin-top: 10px;
}
.Ingredients-header {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    font-size: 30px;
    margin-left: 55px;
}
.Ingredient-list {
    margin-left: 30px;
    color: hsl(14, 45%, 36%);
}
.Ingredient-span {
    margin-left: 30px;
    font-weight: bold;
    color: rgba(151, 148, 146, 255);
    font-size: 16px;
}
.hr {
    color: rgba(151, 148, 146, 255);
    width: 700px;
}
.Instruction-header {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    font-size: 30px;
    margin-left: 55px;
}
.Instruction-ul {
    list-style: numeric;
    margin-left: 30px;
}
.Instruction-list {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
.Instructions-p {
    margin-left: 30px;
    color: rgba(151, 148, 146, 255);
    font-size: 16px;
    width: 600px;
}
.Nutrition-main {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    font-size: 30px;
    margin-left: 55px;
}
.Nutrition-p {
    margin-left: 50px;
    color: rgba(151, 148, 146, 255);
    font-size: 16px;
    width: 600px;
}
.Nutrition-classes {
    margin-left: 50;
}
.Nutrition-class {
    margin-left: 80px;
    font-size: 16px;
    font-weight: bold;
}
.Nutrition-span3 {
    margin-left: 270px;
    color: hsl(14, 45%, 36%);
}
.Nutrition-span4 {
    margin-left: 260px;
    color: hsl(14, 45%, 36%);
}
.Nutrition-span5 {
    margin-left: 285px;
    color: hsl(14, 45%, 36%);
}
.Nutrition-span2 {
    margin-left: 255px;
    color: hsl(14, 45%, 36%);
}

@media (min-width: 320px) and (max-width: 768px) {
    .main-body {
      margin-left: -50px;
      margin-top: 0px;
      width: 150;
      height: 2155px;
      align-self: center;
      overflow-x: hidden;
    }
    .hr {
        width: 350px;
        margin-left: 70px;
    }
    .img {
        width: 500px;
        margin-top: -5px;
        margin-left: -20px;
    }
    .header {
        align-self: center;
        width:500px;
    }
    .h1 {
        margin-left: 25px;
    }
    .header-p {
        width: 350px;
        margin-left: 25px;
        font-size: 19.5px;
    }
    .Preparation-time {
        width: 350px;
        margin-left: 75px;
    }
    .Nutrition, .Instructions {
        margin-left: 25px;
        width: 290px;
    }
    .Ingredients {
        margin-left: 25px;
        width: 300px;
    }
    .Ingredient-span {
        margin-left: -0px;
        margin-right: -50px;
    }
    .Instructions-p {
        width: 330px;
        font-size: 19.5px;
        margin-left: 10px;
    }
    .Nutrition-p {
        width: 330px;
        font-size: 19.5px;
        margin-left: 55px;
    }
    .Nutrition-classes {
        margin-left: -20px;
    }
    .Nutrition-class {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 100px;
        font-size: 20px;
        font-weight: bold;
    }
    .Nutrition-span3 {
        margin-left: 80px;
    }
    .Nutrition-span4 {
        margin-left: 70px;
    }
    .Nutrition-span5 {
        margin-left: 100px;
    }
    .Nutrition-span2 {
        margin-left: 60px;
    }
  }